@import '../_normalize.css';
@import '../errors.scss';

@import './pages/auth.scss';
@import './pages/home.scss';
// @import './pages/createCase.scss';
// @import './pages/caseList.scss';
@import './pages/static.scss';
@import './pages/lessonOne.scss';


header{
  background: url('../../i/login/logo.png') no-repeat center left;
  min-width: 1280px;
  height: 30px;
  background-size: contain;
  width: 1280px;
  margin: auto;
  padding-left: 50px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #2f74eb
}

html,body{
  background:url('../../i/login/bg-login.svg') #f0f2f5;
}

body{
  &::-webkit-scrollbar { width: 5px; background-color: #f6f8fb;}
  &::-webkit-scrollbar-track { background-color: #f6f8fb;}
  &::-webkit-scrollbar-thumb{cursor:pointer; background-color: #75b9f8;border-radius:10px;}
}